<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sports.unity">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <permission android:name="co.sports.unity.permission.C2D_MESSAGE" />

    <uses-permission
        android:name="co.sports.unity.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name=".ChatScreenApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_API_KEY" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="co.sports.unity.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />

        </provider>

        <receiver android:name=".NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.SUPushServiceListener"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.SUGcmInstanceIdListener"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.RegistrationIntentService"
            android:exported="false" />
        <service
            android:name=".XMPPManager.XMPPService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".common.controller.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".common.controller.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/sportsunity.co"
                    android:pathPrefix="/sports"
                    android:scheme="http" />
                <data
                    android:host="@string/sportsunity.co"
                    android:pathPrefix="/9joo"
                    android:scheme="http" />
                <data
                    android:host="@string/sportsunity.co"
                    android:pathPrefix="/sports"
                    android:scheme="mobileapp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".common.controller.EnterOtpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.controller.EnterPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ProfileCreationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.controller.SelectSportsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".messages.controller.activity.ChatScreenActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".messages.controller.activity.GroupDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".news.controller.activity.NewsDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.controller.FilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.controller.TourActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.controller.UserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.controller.AdvancedFilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".messages.controller.activity.NativeCameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".news.controller.activity.NewsSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".messages.controller.activity.ImageOrVideoViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".messages.controller.activity.ForwardSelectedItems"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
            </intent-filter>
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.SEND" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <data android:mimeType="image/*" /> -->
            <!-- </intent-filter> -->
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.SEND" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <data android:mimeType="audio/*" /> -->
            <!-- </intent-filter> -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.SEND_MULTIPLE" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <data android:mimeType="audio/*" /> -->
            <!-- </intent-filter> -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.SEND" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <data android:mimeType="video/*" /> -->
            <!-- </intent-filter> -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.SEND_MULTIPLE" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <data android:mimeType="video/*" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".scores.ScoreDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/sportsunity.co"
                    android:pathPrefix="/scores"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".messages.controller.activity.PeopleAroundMeMap"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.controller.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.controller.PromoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.controller.About"
            android:screenOrientation="portrait" />
        <!-- <activity -->
        <!-- android:name=".scoredetails.footballdetail.FootballDetailsActivity" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/AppTheme" /> -->
        <activity
            android:name=".common.controller.GetCountryCode"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".common.controller.TeamLeagueDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".playerprofile.cricket.PlayerCricketBioDataActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".playerprofile.football.PlayerProfileView"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <service
            android:name=".gcm.UnRegisterMatch"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.CampaignTrackingService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".peoplearound.PeopleAroundActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.controller.FriendRequestsActivity"
            android:label="@string/title_activity_friend_requests"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".common.controller.SearchFavoriatesActivity"
            android:label="@string/title_activity_search_favoriates"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>
